<?xml version="1.0" encoding="UTF-8"?>

<!-- Spring container mein managed objects ko "beans" kehte hain -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    

    <!-- Step 1: BookRepository object -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>


    <!-- Step 2: BookService object banao aur BookRepository inject karoo -->
    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
